@import '../../../app.component.less';

.container {
    width: calc(100% - 75%);
    height: 100%;
    position: fixed;

    &.big {
        width: calc(100% - 30%);
    }

    &.hasHeader {
        height: calc(100% - 70px);
    }

    .content {
        width: 100%;
        height: 100%;
        padding: 50px;

        .publi {
            width: 100%;
            height: 100%;
            display: flex;
            border-radius: 20px;
            align-items: center;
            justify-content: center;

            .banner {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../../../../assets/banner-vertical.jpg);

                &.big {
                    background-image: url(../../../../assets/banner-horizontal.jpg);
                }
                
            }
        }
    }
}