<section class="container">
  <app-publi [bigPubli]="bigPubli" [hasHeader]="hasHeader"></app-publi>

  <div class="divider"></div>

  <div class="content">
    <form #f="ngForm" (ngSubmit)="hasLogin(f)">
      <div class="login">
        <div class="user">
          <div class="icon person"></div>
          <input
            type="text"
            id="user"
            name="user"
            placeholder="Login"
            ngModel
          />
        </div>
        <div class="password">
          <div class="icon locker"></div>
          <input
            [type]="viewPassword ? 'text' : 'password'"
            id="password"
            name="password"
            placeholder="Senha"
            ngModel
          />
          <div class="icon eye" (click)="viewPassword = !viewPassword"></div>
        </div>
      </div>
      <input class="button" type="submit" value="Entrar" />
    </form>
    <div class="createAccount">
      <div class="divider"></div>
      <button (click)="(modalCreateAccount)">Criar Conta</button>
    </div>
  </div>
</section>
