<app-header></app-header>

<section class="container">
  <div class="content">
    <div class="topProfile">
      <div class="backImage">
        <div class="image">
          <div class="opacity"></div>
        </div>
      </div>
      <div class="user">
        <div class="image"></div>
        <div class="infos">
          <h2>Fulano de Tal</h2>
          <p>ProPlayer</p>
        </div>
      </div>
    </div>
    <div class="descriptions">
      <div class="about">
        <div class="title">
          <p>Sobre</p>
          <div class="buttons">
            <div class="icon edit"></div>
          </div>
        </div>
        <p class="text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae,
          corporis dolores! Expedita sunt enim, explicabo itaque consequuntur
          nesciunt maiores distinctio cupiditate! Delectus iste neque omnis,
          maxime nemo esse ea deleniti. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Itaque ipsa expedita ratione blanditiis esse non.
          Ipsum veritatis temporibus magnam, harum minus eligendi unde
          dignissimos, exercitationem ducimus cumque, veniam nisi odio!
        </p>
        <div class="infos">
          <div class="experience">
            <p class="title">Anos de Experiência:</p>
            <p class="text">8</p>
          </div>
          <div class="rank">
            <p class="title">Rank:</p>
            <p class="text">#2</p>
          </div>
        </div>
      </div>
      <div class="games">
        <div class="title">
          <p>Experiência</p>
          <div class="buttons">
            <div class="icon add"></div>
            <div class="icon edit"></div>
          </div>
        </div>
        <div class="list">
          <div class="game">
            <div class="image"></div>
            <p>CSS</p>
          </div>
          <div class="game">
            <div class="image"></div>
            <p>Valorant</p>
          </div>
          <div class="game">
            <div class="image"></div>
            <p>Free Fire</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <app-publi [bigPubli]="bigPubli"></app-publi>
</section>
