<header>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li *ngIf="roleType == 'ROLE_PLAYER'"><a routerLink="/jobs">Vagas</a></li>
    <li *ngIf="roleType == 'ROLE_TEAM'">
      <a routerLink="/players">Jogadores</a>
    </li>
    <li><a routerLink="/training">Treinamento</a></li>
  </ul>
  <div class="search">
    <div class="icon"></div>
    <input type="text" placeholder="Pesquise por times, vagas, jogadores,..." />
  </div>
  <div class="profile">
    <a routerLink="/profile">Perfil</a>
  </div>
</header>
